html, body {
  margin: 20px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.artist-card {
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-radius: 3px;
}

.artist-column {
  float: left;
}

.artist-bands-list {
  list-style: none;
}

.artist-column + .artist-column {
  margin-left: 10px;
}

/* This is copied from .dropdown-menu > li > a:hover in Bootstrap */

.ember-autocomplete-list > .active > a {
  color: #262626;
  font-weight: bold;
  background-color: #fff;
}

.ember-autocomplete-list > .focused > a {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
